{
  "Email": {
    "Templates": {
      "survey-invitation": {
        "Subject": "Kérdőív meghívó: {{SurveyName}}",
        "Body": "Kedves diák,<br/><br/>Kérünk töltsd ki a <b>{{SurveyName}}</b> nevű kérdőívet, és adj visszajelzést a tanáraidnak.<br/><br/><a href=\"{{FrontendUrl}}\">Kattints ide, hogy elkezdd a kérdőívek kitöltését</a>",
        "IsHtml": true
      },
      "report-with-attachments": {
        "Subject": "Kérdőív eredmények: {{SurveyName}}",
        "Body": "Kedves tanár,<br/><br/>Csatolva megtalálja a kérdőívek összesített eredményét <b>{{SurveyName}}</b>.",
        "IsHtml": true
      },
      "admin-summary": {
        "Subject": "Igazgatói összesítés: {{SurveyName}}",
        "Body": "Kedves intézmény vezető,<br/><br/>Alább csatolotuk a <b>{{SurveyName}}</b> kérdőív összesített eredményeit.",
        "IsHtml": true
      }
    }
  }
}

